ol {
    margin-left: -40px;
    margin-top: -20px;
    list-style-position: inside;
  }

  p{
    color: red;
  }
  .A1{
    font-size: 30;

  }
  
  * {
    text-align: center;
  }


  li[value="4"]{
    color: blue;

}
  #a1{
    color: green;
  }
  
  